## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [6]:
a = 4
print(a)

4

2) Imprimir el tipo de dato de la constante 8.5

In [7]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [8]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [19]:
nombre = 'Kevin'
print(type(nombre))

<class 'str'>

5) Crear una variable que contenga un número complejo

In [17]:
complejo = 7 + 7j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [15]:
print(type(complejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [22]:
pi = 3.1416
print(pi)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [23]:
m = 'True'
n = True
print(type(m))
print(type(n))

<class 'str'>
<class 'bool'>

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

10) Asignar a una variable, la suma de un número entero y otro decimal

In [25]:
var = 3 + 3.3
print(var)

6.3

11) Realizar una operación de suma de números complejos

In [26]:
2+2j+3+4j

(5+6j)

12) Realizar una operación de suma de un número real y otro complejo

In [28]:
m = 5
n = 1+5j
m+n

(6+5j)

13) Realizar una operación de multiplicación

In [29]:
5*5

25

14) Mostrar el resultado de elevar 2 a la octava potencia

In [30]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [33]:
m = 27/4
print(m)

6.75

16) De la división anterior solamente mostrar la parte entera

In [38]:
y = int(m)
print(y)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [37]:
n = 27%4
print(n)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [40]:
4 * y + n

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [41]:
'Kevin ' + 'Valencia'

'Kevin Valencia'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [42]:
num = 2
nomb = '2'
int(nomb) == num

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [45]:
a = float('3.8')
print(a)

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [48]:
var = 3
var-=1
print(var)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [52]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [60]:
2 + int('2')

4

26) Realizar una operación válida entre valores de tipo entero y string